:root {
  --boxshadowCardTemplate: 1px 1px 5px 0px rgb(128, 128, 128, 0.7);
  --green-color-button: rgb(122, 224, 160);
  --font-family-poppins: "Poppins", sans-serif;
  --svg-background-image1: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='300' height='560' preserveAspectRatio='none' viewBox='0 0 300 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1092%26quot%3b)' fill='none'%3e%3crect width='300' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cuse xlink:href='%23SvgjsPath1093' x='30' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1094' x='30' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='30' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='30' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1094' x='30' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1094' x='30' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1095' x='30' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='30' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='30' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1095' x='30' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='90' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='90' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1094' x='90' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1094' x='90' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1095' x='90' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='90' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1096' x='90' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='90' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='90' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1095' x='90' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1096' x='150' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1095' x='150' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='150' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1097' x='150' y='210' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1096' x='150' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1094' x='150' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1095' x='150' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1095' x='150' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1097' x='150' y='510' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1095' x='150' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1098' x='210' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='210' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='210' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1096' x='210' y='210' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1098' x='210' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1096' x='210' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1096' x='210' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1097' x='210' y='450' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1094' x='210' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='210' y='570' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1096' x='270' y='30' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1098' x='270' y='90' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='270' y='150' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1097' x='270' y='210' stroke='%231c538e' stroke-width='3'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1095' x='270' y='270' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='270' y='330' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='270' y='390' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1095' x='270' y='450' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1093' x='270' y='510' stroke='%231c538e'%3e%3c/use%3e%3cuse xlink:href='%23SvgjsPath1094' x='270' y='570' stroke='%231c538e'%3e%3c/use%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1092'%3e%3crect width='300' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cpath d='M-1 0 a1 1 0 1 0 2 0 a1 1 0 1 0 -2 0z' id='SvgjsPath1098'%3e%3c/path%3e%3cpath d='M-3 0 a3 3 0 1 0 6 0 a3 3 0 1 0 -6 0z' id='SvgjsPath1096'%3e%3c/path%3e%3cpath d='M-5 0 a5 5 0 1 0 10 0 a5 5 0 1 0 -10 0z' id='SvgjsPath1095'%3e%3c/path%3e%3cpath d='M2 -2 L-2 2z' id='SvgjsPath1094'%3e%3c/path%3e%3cpath d='M6 -6 L-6 6z' id='SvgjsPath1093'%3e%3c/path%3e%3cpath d='M30 -30 L-30 30z' id='SvgjsPath1097'%3e%3c/path%3e%3c/defs%3e%3c/svg%3e");
  --svg-background-image2: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2380F'/%3E%3Cstop offset='1' stop-color='%23f40'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
  --svg-background-image3-animated-diary: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='300' height='560' preserveAspectRatio='none' viewBox='0 0 300 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1038%26quot%3b)' fill='none'%3e%3crect width='300' height='560' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M35.91 61.64 a94.3 94.3 0 1 0 188.6 0 a94.3 94.3 0 1 0 -188.6 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M114.7 511.93 a87.05 87.05 0 1 0 174.1 0 a87.05 87.05 0 1 0 -174.1 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M58.17 338.28 a60.15 60.15 0 1 0 120.3 0 a60.15 60.15 0 1 0 -120.3 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M-19.64 487.23 a99.9 99.9 0 1 0 199.8 0 a99.9 99.9 0 1 0 -199.8 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1038'%3e%3crect width='300' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
  --svg-background-image4-animated: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1000' height='560' preserveAspectRatio='none' viewBox='0 0 1000 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1684%26quot%3b)' fill='none'%3e%3crect width='1000' height='560' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1685%26quot%3b)'%3e%3c/rect%3e%3cpath d='M381.284%2c594.449C414.962%2c595.809%2c451.356%2c587.671%2c468.592%2c558.707C486.12%2c529.252%2c477.779%2c492.129%2c459.382%2c463.209C442.4%2c436.514%2c412.837%2c423.794%2c381.284%2c421.457C343.867%2c418.686%2c299.046%2c417.496%2c280.201%2c449.939C261.317%2c482.449%2c283.839%2c521.309%2c305.389%2c552.117C323.184%2c577.558%2c350.262%2c593.196%2c381.284%2c594.449' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M234.95 97.99 a147.61 147.61 0 1 0 295.22 0 a147.61 147.61 0 1 0 -295.22 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M356.91 519.48 a121.82 121.82 0 1 0 243.64 0 a121.82 121.82 0 1 0 -243.64 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M597.47 482.67 a167.13 167.13 0 1 0 334.26 0 a167.13 167.13 0 1 0 -334.26 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M544.45 237.64 a121.97 121.97 0 1 0 243.94 0 a121.97 121.97 0 1 0 -243.94 0z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1684'%3e%3crect width='1000' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='11%25' y1='-19.64%25' x2='89%25' y2='119.64%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1685'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(0%2c 89%2c 158%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}

body {
  position: relative;
  font-family: var(--font-family-poppins);
  background-color: #ffffff;
  background-image: var(--svg-background-image4-animated);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  border: none;
}

/* animations */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#clear-local-storage {
  position: absolute;
  bottom: 0;
}

.main-wrapper {
  position: relative;
  display: flex;
  height: 95%;
  width: 95%;
}

#background-attribution {
  position: absolute;
  bottom: 0;
  right: 2%;
  color: rgba(199, 199, 199, 0.582);
}

#background-attribution a {
  text-decoration: none;
  color: rgba(70, 238, 159, 0.938);
}

#background-attribution a:hover {
  color: rgb(0, 255, 136);
}

/* prompt */

.prompt-window {
  position: relative;
  font-weight: bold;
  font-size: 1.3rem;
  height: 800px;
  width: 500px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  gap: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: var(--svg-background-image4-animated);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.664);
  animation: fadeIn 350ms ease-in;
  z-index: 2;
}

.backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.prompt-headline {
  color: beige;
}

.close-prompt-window-icon {
  position: absolute;
  top: 3%;
  right: 2%;
  height: 44px;
  width: 44px;
  border-radius: 100%;
  transition-duration: 150ms;
}

.close-prompt-window-icon:hover {
  background-color: rgba(194, 78, 78, 0.815);
  cursor: pointer;
}

.prompt-input-and-input-headline-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: rgba(40, 33, 95, 0.425);
  border-radius: 15px;
  padding: 15px;
}

.prompt-input-and-input-headline-wrapper label:nth-child(1) {
  color: beige;
}

.prompt-input-and-input-headline-wrapper label:nth-child(3) {
  color: beige;
}

#describe-your-diary-textarea {
  height: 300px;
  width: 300px;
  font-size: 1.3rem;
  resize: none;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(114, 118, 173, 0.699);
}

#describe-your-diary-textarea:focus {
  outline: 1px solid rgb(119, 218, 185, 0.7);
}

.char-counter {
  font-size: 1rem;
  position: absolute;
  bottom: 23%;
  color: rgba(39, 39, 39, 0.774);
}

#create-new-diary-input {
  font-family: var(--font-family-poppins);
  border-radius: 10px;
  width: 300px;
  height: 40px;
  padding-left: 7px;
  font-size: 1rem;
}

#create-new-diary-input:focus {
  outline: 2px solid var(--green-color-button);
}

.create-diary-button-prompt {
  font-family: var(--font-family-poppins);
  font-size: 1rem;
  font-weight: 600;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  background-color: var(--green-color-button);
  transition-duration: 150ms;
}

.create-diary-button-prompt:hover {
  background-color: var(--green-color-button);
  background-color: rgb(140, 255, 182);
  cursor: pointer;
}

/* edit diary prompt */

.diary-edit-prompt-headline {
  color: beige;
}

.saved-icon {
  position: absolute;
  height: 36px;
  width: 36px;
  animation: fadeIn 350ms ease-in;
  bottom: 12%;
  left: 38%;
}

.saved-text {
  position: absolute;
  color: var(--green-color-button);
  animation: fadeIn 350ms ease-in;
  bottom: 12%;
  left: 48%;
}

.fade-out {
  animation: fadeOut 1s forwards;
}

/* delete diary prompt */

.delete-prompt-window {
  position: relative;
  font-weight: bold;
  font-size: 1.2rem;
  height: 400px;
  width: 500px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  gap: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: var(--svg-background-image4-animated);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.664);
  animation: fadeIn 350ms ease-in;
  z-index: 2;
}

.delete-diary-headline {
  color: beige;
  margin-inline: 30px;
  text-align: center;
}

.yes-button {
  font-family: var(--font-family-poppins);
  font-size: 1.1rem;
  height: 70px;
  width: 150px;
  border-radius: 15px;
  background-color: var(--green-color-button);
}

.no-button {
  font-family: var(--font-family-poppins);
  font-size: 1.1rem;
  height: 70px;
  width: 150px;
  border-radius: 15px;
  background-color: var(--green-color-button);
}

.yes-button:hover {
  background-color: rgba(194, 78, 78, 0.815);
  cursor: pointer;
}

.no-button:hover {
  cursor: pointer;
  background-color: rgb(138, 255, 189);
}

/* left side */

.left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(1, 22, 39, 0.8);
  border-radius: 10px;
  width: 30%;
  gap: 30px;
  overflow: auto;
}

.left-side-headline h1 {
  color: beige;
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 500;
}

.create-diary-button-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 2px solid rgba(120, 98, 173, 0.671);
}

.create-diary-button {
  font-family: var(--font-family-poppins);
  height: 60px;
  width: 200px;
  margin-block: 40px;
  border-radius: 10px;
  outline: transparent;
  background-color: var(--green-color-button);
  font-weight: bold;
  font-size: 1rem;
  transition-duration: 150ms;
}

.create-diary-button:hover {
  background-color: rgb(140, 255, 182);
  cursor: pointer;
}

.diary-item-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  margin-top: 20px;
  width: 220px;
  height: 350px;
  gap: 20px;
  background-image: var(--svg-background-image1);
  border-radius: 10px;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.664);
  transition-duration: 100ms;
}

.diary-item-wrapper:hover {
  outline: 1px solid rgba(88, 135, 236, 0.658);
  cursor: pointer;
}

.dot-menu-diary-item {
  position: absolute;
  height: 32px;
  width: 32px;
  top: 2%;
  left: 3%;
  transition-duration: 150ms;
}

.delete-diary-icon {
  position: absolute;
  top: 1%;
  right: 3%;
  height: 36px;
  width: 36px;
}

.diary-item-name {
  background-color: rgb(122, 209, 224);
  display: flex;
  width: 100%;
  justify-content: center;
  border-radius: 4px;
  padding-block: 5px;
  margin-top: 50px;
  font-size: 1.1rem;
  font-weight: bold;
  color: rgb(250, 250, 250);
}

.quote-icon {
  position: absolute;
  height: 44px;
  width: 44px;
  top: 27%;
  left: 1%;
}

.diary-description-item {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-inline: 20px;
  text-wrap: balance;
  margin-top: 20px;
  font-size: 1.2rem;
  background-color: rgba(91, 172, 219, 0.644);
  color: rgba(14, 14, 14, 0.911);
  border-radius: 5px;
}

.diary-timestamp {
  position: absolute;
  margin-top: auto;
  font-size: 0.8rem;
  text-align: center;
  width: 80%;
  margin-inline: auto;
  padding: 1px;
  background-color: rgb(140, 255, 182);
  bottom: -6%;
  left: 10%;
  border-radius: 5px;
  color: rgba(34, 34, 34, 0.8);
}

/* right side */

.right-side {
  background-color: rgb(1, 22, 39, 0.9);
  width: 70%;
  border-radius: 10px;
}

.right-side-headline {
  color: rgb(245, 245, 220);
  margin-top: 20px;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}

.create-new-entry-button {
  font-family: var(--font-family-poppins);
  height: 60px;
  width: 200px;
  margin-block: 65px;
  margin-left: 30px;
  border-radius: 10px;
  outline: transparent;
  background-color: var(--green-color-button);
  font-weight: bold;
  font-size: 1rem;
  transition-duration: 150ms;
}

.create-new-entry-button:hover {
  background-color: rgb(140, 255, 182);
  cursor: pointer;
}

.year-text {
  text-align: center;
  font-size: 2rem;
  color: rgb(140, 255, 182);
}

.month-text {
  text-align: center;
  font-size: 2rem;
  color: rgb(140, 255, 182);
}

/* prompt new entry */

.prompt-window-new-entry {
  position: relative;
  font-weight: bold;
  font-size: 1.3rem;
  height: 80%;
  width: 80%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  gap: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: var(--svg-background-image4-animated);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px 1px 10px 1px rgba(0, 0, 0, 0.664);
  animation: fadeIn 350ms ease-in;
  z-index: 2;
}

#create-new-entry-textarea {
  position: relative;
  width: 60%;
  height: 60%;
  background-color: rgba(37, 139, 153, 0.7);
  backdrop-filter: blur(10px);
  color: rgba(0, 0, 0, 0.829);
  font-size: 1.3rem;
  resize: none;
  border-radius: 10px;
  padding: 40px;
}

#create-new-entry-textarea:focus {
  outline: 1px solid rgb(119, 218, 185, 0.7);
}

.prompt-new-entry-headline {
  color: beige;
}

.create-entry-button {
  font-family: var(--font-family-poppins);
  font-size: 1rem;
  font-weight: 600;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  background-color: var(--green-color-button);
  transition-duration: 150ms;
}

.create-entry-button:hover {
  background-color: var(--green-color-button);
  background-color: rgb(140, 255, 182);
  cursor: pointer;
}

.quote-icon-new-entry {
  position: absolute;
  z-index: 1;
  left: 17%;
  top: 13%;
}
